<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet'>
    <script src="/path/to/flash.min.js"></script>
    <title>Document</title>
    <style>
       body{
    background-color: #ffffff;
    font-family: 'Gruppo';font-size: 22px;
}
.new_stock{
    text-align: center;
    color: #ffffff;
}
.logo_image{
    display: block;
    margin: auto;
    width: 250px;
}
.logo{
    margin-bottom: 60px;
}
.add_stock{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 30px;
    text-align: center;
    color: black;
}
.add_stock2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
    text-align: center;
    color: black;
}
.all_add_stock{
    width: 60%;
    background-color: #e9d8a6;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 30px;
}
.update_button{
    text-align: center;
    margin:auto;
}
.filter_stock{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 1fr;
    margin-bottom: 30px;
    text-align: center;
}
.display_filtered1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr 1fr;
    text-align: center;
}
.display_filtered2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr 1fr;
    text-align: center;
}
.shoe_images{
    width: 130px;
    height: 130px;
}
hr{
    background-color: black;
}
h3{
    color: black;
}
input[type=number]{
    width: 150px;
    height: 45px;
    text-align: center;
    border-radius: 8px;
    font-family: 'Gruppo';font-size: 18px;
    font-weight: 600;
    border-width: 0px;
  }
input[type=submit]{
width: 110px;
height: 45px;
text-align: center;
border-radius: 8px;
background-color: #bb3e03;
font-family: 'Gruppo';font-size: 18px;
border-width: 0px;
color: #ffffff;
}
#brands{
width: 150px;
height: 45px;
text-align: center;
font-family: 'Gruppo';font-size: 18px;
background-color: #005f73;
color: #ffffff;
border-radius: 8px;
border-width: 0px;
}
#color{
width: 150px;
height: 45px;
text-align: center;
font-family: 'Gruppo';font-size: 18px;
background-color: #005f73;
color: #ffffff;
border-radius: 8px;
border-width: 0px;
}
#size{
width: 150px;
height: 45px;
text-align: center;
font-family: 'Gruppo';font-size: 18px;
background-color: #005f73;
color:#ffffff;
border-radius: 8px;

}
    </style>
</head>
<body>
    <div class="logo">
    <img src="https://github.com/Wiseman930/shoes_api/blob/master/images/BILLY.png?raw=true" alt="no image" class="logo_image">
    </div>
    <div class="all_add_stock">
    <form method="POST" action="/shoes">
            <div class="new_stock"><h3>Add New Stock</h3></div>
            <div class="add_stock">
                <div class="drop1">
                    <select name="brands" id="brands">
                        <option value="" style="background-color: #005f73; color: white">Select Brand</option>
                        <option value=1 style="background-color: #005f73; color: white">Tago</option>
                        <option value=2 style="background-color: #005f73; color: white">Bellito</option>
                        <option value=3 style="background-color: #005f73; color: white">Afani</option>
                        <option value=4 style="background-color: #005f73; color: white">Seruto</option>
                    </select>
                </div>
                <div class="drop2">
                    <select name="colors" id="color">
                        <option value="" style="background-color: #005f73; color: white">Select Color</option>
                        <option value=1  style="background-color: #005f73; color: white">Black</option>
                        <option value=5 style="background-color: #005f73; color: white">White</option>
                        <option value=3 style="background-color: #005f73; color: white">Blue</option>
                        <option value=2 style="background-color: #005f73; color: white">Brown</option>
                        <option value=4 style="background-color: #005f73; color: white">Grey</option>
                    </select>
                </div>
                <div class="drop3">
                    <select name="size" id="size">
                        <option value="" style="background-color: #005f73; color: white">Select Size</option>
                        <option value="1" style="background-color: #005f73; color: white">5</option>
                        <option value="2" style="background-color: #005f73; color: white" >6</option>
                        <option value="3" style="background-color: #005f73; color: white" >7</option>
                        <option value="4" style="background-color: #005f73; color: white" >8</option>
                        <option value="5" style="background-color: #005f73; color: white" >9</option>
                    </select>
                </div>
            </div>
        <div class="add_stock2">
            <div class="price_textbox">
                <input name="prices" class="addPrice" placeholder="Enter price"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                type="number" maxlength="7">
            </div>
            <div class="quantity_textbox">
                <input name="quantities" class="addQuantity" placeholder="Enter quantity"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                type="number" maxlength="2">
            </div>
        </div>
        <div class="update_button">
            <input type="submit" name="fontSizeControl" class="update_stock" value="Update">
        </div>
    </form>
    </div>

     <div class="all_add_stock">
        <div class="new_stock"><h3>Filter Stock</h3></div>
        <form method="POST" action="/shoes/stock">
        <div class="filter_stock">
            <div class="drop1">
                <select name="brands2" id="brands">
                        <option value="" style="background-color: #005f73; color: white">Select Brand</option>
                        <option value=1 style="background-color: #005f73; color: white">Tago</option>
                        <option value=2 style="background-color: #005f73; color: white">Bellito</option>
                        <option value=3 style="background-color: #005f73; color: white">Afani</option>
                        <option value=4 style="background-color: #005f73; color: white">Seruto</option>
                </select>
            </div>
            <div class="drop2">
                <select name="colors2" id="color">
                        <option value="" style="background-color: #005f73; color: white">Select Color</option>
                        <option value=1  style="background-color: #005f73; color: white">Black</option>
                        <option value=5 style="background-color: #005f73; color: white">White</option>
                        <option value=3 style="background-color: #005f73; color: white">Blue</option>
                        <option value=2 style="background-color: #005f73; color: white">Brown</option>
                        <option value=4 style="background-color: #005f73; color: white">Grey</option>
                </select>
            </div>
            <div class="drop3">
                <select name="size2" id="size">
                        <option value="" style="background-color: #005f73; color: white">Select Size</option>
                        <option value="1" style="background-color: #005f73; color: white">5</option>
                        <option value="2" style="background-color: #005f73; color: white" >6</option>
                        <option value="3" style="background-color: #005f73; color: white" >7</option>
                        <option value="4" style="background-color: #005f73; color: white" >8</option>
                        <option value="5" style="background-color: #005f73; color: white" >9</option>
                </select>
            </div>
            <div class="update_button">
                <input type="submit" name="fontSizeControl1" class="update_stock" value="Filter">
            </div>
        </div>
        </form>
        <div class="display_filtered1">
            <div class="show_brands"><h3>Brands</h3></div>
            <div class="show_color"><h3>Color</h3></div>
            <div class="show_size"><h3>Size</h3></div>
            <div class="show_price"><h3>Price</h3></div>
            <div class="show_quantity"><h3>Quantity</h3></div>
            <div class="show_image"><h3></h3></div>
            <div class="show_cart"><h3></h3></div>
        </div>
        <hr>
    {{#each allMyStock}}
        <div class="display_filtered2">
            <div class="show_brands"><p>{{brand}}</p></div>
            <div class="show_color"><p>{{color}}</p></div>
            <div class="show_size"><p>{{size}}</p></div>
            <div class="show_price"><p>R{{price}}</p></div>
            <div class="show_quantity"><p>{{quantity}}</p></div>
            <div class="show_image"> <img src="{{image}}" alt="no image" class="shoe_images"></div>
            <div class="add_to_cart"><input type="submit" name="fontSizeControl" class="to_cart_button" value="Add to cart"></div>
        </div>
        <hr>
    {{/each}}
    </div>
</body>
</html>